.parallax-effect {
    background-image: url("Images/Sea1.jpg");
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    height: 1000px;
    background-image: linear-gradient(to right top, #000000, #f395e5, #e983e9, #dc72ee, #000000);
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }